
.lifestyle {
 padding: 20px;
}


.lifestyle img {
    
    max-width: 100%; 
    
    height: auto; 
    
    margin-top: 15px;
    margin-bottom: 15px;
   
    border-radius: 8px; 
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lifestyle h2 {
 color: #2e7d32;
 margin-top: 30px;
}

.lifestyle h3 {
 color: #388e3c;
 margin-top: 20px;
}

.lifestyle p {
 line-height: 1.6;
margin-bottom: 15px;
}

